{% extends "base.html" %}

{% block title %}Articles{% endblock title %}

{% block content %}
{% for article in article_list %}
<div class="card mt-3">
    <div class="card-header">
        <span class="fw-bold"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></span> &middot;
        <span class="text-muted">by {{ article.author }} | {{ article.date|date:"F j, Y" }}</span>
    </div>
    <div class="card-body">
        {{ article.body }}
        {% if article.author.pk == request.user.pk %}
            <a href="{% url "article_update" article.id %}">Edit</a>
            <a href="{% url "article_delete" article.id %}">Delete</a>
        {% endif %}
        <a href="{{ article.get_absolute_url }}">New comment</a>
    </div>
    <div class="card-footer text-center text-muted">
        {% for comment in article.comments.all %}
            <div class="mt-2">
                <strong>{{ comment.author }}:</strong> {{ comment.comment }}
            </div>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock content %}