{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ article.title }}{% endblock title %}

{% block content %}
<div class="article-entry">
    <h2>{{ article.title }}</h2>
    <p>by {{ article.author }} | {{ article.date }}</p>
    <hr>
    <p>{{ article.body }}</p>

    <hr>
    {% comment %} Form {% endcomment %}
    <h4>Add a comment</h4>
    <form action="" method="post">{% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success ms-2" type="submit">Save</button>
    </form>

    <br>
    <h3>Comments</h3>
    {% for comment in article.comments.all %}
        <div class="comment">
            <p><strong>{{ comment.author }}:</strong> {{ comment.comment }}</p>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
</div>
<hr>
<div>

    {% if article.author.pk == request.user.pk %}
        <p>
            <a href="{% url "article_update" article.id %}">Edit</a>
            <a href="{% url "article_delete" article.id %}">Delete</a>
        </p>
    {% endif %}

    <p>Back to <a href="{% url "article_list" %}">All Articles</a>.</p>
</div>
{% endblock content %}